* {
    font-family: 'Poppins', sans-serif;
}

.container-entry {
    display: flex;
    flex-direction: row;
    height: 600px;
    width:70%;
    border: 1px solid seagreen;
    margin: 50px auto auto;
}

.entry {
    width: 70%;
    opacity: 1.0;
    display: flex;
    padding: 20px;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
}
.entryYearGenre {
    display: flex;
}

.year{
    color: saddlebrown;
    margin-right: 50px;
}

.contents {
    color: black;
}

.movieName {
    font-size: 70px;
    color: saddlebrown;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}

.movieInfo {
    display: flex;
    flex-direction: row;
}

.movieContent {
    font-size: 20px;
    padding: 30px;
    border: 1px solid seagreen;
    border-radius: 20px;
    margin: 20px;
}

#year {
    color: seagreen;
}

h3 {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 0.5rem;
    font-size: 25px;
    color: orange;
    opacity: 1.0;
}

h2 {
    color: seagreen;
}

h4
{
    color: orange;
}



