#navbar {
    border: 1px rgb(128, 128, 128, 0.5) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    position: sticky;
    top: 0;
    height: 70px;
    background-color: white;
}

.flex-nav-item:hover {
    text-decoration: underline;
}

.flex-nav-item {
    font-size: 15px;
    text-decoration: none;
    color: rgb(90, 90, 90);
}

.flex-nav-item:nth-child(1) {
    text-decoration: underline;
}