.container {
    border: 1px rgb(128, 128, 128, 0.5) solid;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top:50px;
    padding-bottom: 50px;
}

.container div{
    display: block;
}

.click-button{
    margin-top: 20px;
}