.grid {
    display: grid;
    grid-template-columns: 100px 100px;

}


.bg {
    background-image: url("https://secure.img1-fg.wfcdn.com/im/68170450/resize-h445%5Ecompr-r85/1356/135616619/Floral+Double+Roll+%2528Three+11%2527+Panels%2529+Wallpaper.jpg");
}

